/* font-family: "Nanum Brush Script", cursive; */

:root {
    --primary-color: #EA8C55;
    --secondary-color: #388697;
    --neutral-1: #F3FCF0;
    --neutral-2: #0A0903;
}
body {
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: 10vh auto auto 10vh;
    font-family: sans-serif;
    color: var(--neutral-2);
    margin: 0;
    background-color: var(--neutral-1);
}
h1, h2 {
    color: var(--primary-color);
    font-family: "Nanum Brush Script", cursive;
}
h3 {
    font-family: "Nanum Brush Script", cursive;
    color: var(--secondary-color);
    margin: 0px;
}
.header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-logo{
    width: 20px
}
a {
    text-decoration: none;
    color: var(--neutral-2);
    padding: 5px;
}
a:hover {
    color: var(--secondary-color);
}
.content {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.profile-pic {
    width: 100%;
    max-width: 600px;
}
.content-card{
    width: 100%;
    max-width: 600px;
}
.music-player{
    padding: 10px;
}
ul {
    list-style: none;
}
.footer {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}